/*****************
List Item component
******************/
.addItemForm{
	border:1px solid black;
	width: 50%;
}

.addSpan{
	font-weight: bold;
}

.addItemContainer{
	text-align: center;
	padding: 5px;
}
